<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.roscha_akademii.medialib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:name="ru.roscha_akademii.medialib.common.MediaLibApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainscreen.view.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <receiver android:name=".video.event.DownloadNotificationClickReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="ru.roscha_akademii.medialib.video.playvideo.viewvideo.view.ShowVideoActivity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name="ru.roscha_akademii.medialib.book.onebook.view.OneBookActivity" />

        <service android:name="ru.roscha_akademii.medialib.update.UpdateService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e4db8735247b7447b9bc26b87ad78173a5a0366c"/>
    </application>

</manifest>